
* {
	font-family: Georgia, American Typewriter, sans-serif;
	color: #228B22;
	text-align: center;}

body {
	background-color:#ADD8E6;
	width: 960px;
	margin: 0 auto;
}
#content {
	overflow: auto;
	height: 100%;}
.column1, .column2, .column3 {
	float: left;
	margin: 10px;}


nav { 
	background-color: #25A18E;
	padding: 10px;
	margin: 10px;
}

li { 
	/*display:  inline;*/
	padding:  5px;
 }

 section {
 	overflow:  auto;
 	height:  100%;
 }

 main {
 	background-color: #25A18E;
 	padding: 10px;
	margin: 10px;
}

article {
	background-color: #25A18E;
 	padding: 10px;
	margin: 10px;
	/*width: 280px;*/
	/*float:  left;*/
} 

.mart {
	background-color: #FFFFFF;
}

footer {
	background-color: #25A18E;
 	padding: 10px;
	margin: 10px;
}


